$width:100%;
$backgroundColor:#f5f5f6;
.container-top-bottom-padding{
  width: $width;
  padding:64px 0;
}

.general-background-color{
  background-color: $backgroundColor;
}

.link_hover{
  color:#000;
  &:hover{
    color:#00F5FF;
    text-decoration:none;
  }
}