
$width:30%;
$marginMiddle:0 auto 0;
.login-case{
    background-color: #fff;
    height:500px;
    margin-top:60px;
    text-align: center;
    border:1px solid #000;
}

.login-theme{
    padding:40px 0;
}
.login-form{
    width: $width;
    margin:$marginMiddle;
}