
$width:100%;
$height:500px;
.carousel-img-style{
  width:$width;
  height:$height !important;
}

.section-header{
  height:250px;
  text-align: center;
  background-color: transparent;
}
.section-content{
  width:70%;
  font-size:26px;
  text-align: center;
  color: #000;
  &:hover{
    color:#1874CD;
    text-decoration: none;
  }
}
.section-avater{
  width:70%;
  margin:0 auto 0;
}
.section-chunk{
  height:400px;
}