
$header-link: #000;
$text-decoration-none:none;
.header-link {
  text-decoration: $text-decoration-none;
  color:#808080;
  &:hover{
    text-decoration: $text-decoration-none;
    color:#AFEEEE;
  }
}