
$header-link: #000;
$text-decoraation-none:none;
.header-link {
  text-decoration: $text-decoraation-none;
  color:#808080;
  &:link{
    text-decoration: $text-decoraation-none;
    color:#00FFFF;
  }
  &:hover{
    text-decoration: $text-decoraation-none;
    color:#AFEEEE;
  }
}